body {
    background: url(/assets/img/main.jpg) center no-repeat;
    background-attachment: fixed;
    background-size: cover;
    font-family: 'Comic Sans MS', cursive;
}

#root {
    /*color: red;*/
}